.topbar-menuEntring {
    transition: transform 0.1s ease-out, opacity 0.1s ease-out, scale 0.1s ease-out;
    transform: scale(1);
    opacity: 1;
}

.topbar-manuLeaving {
    transition: transform 0.075s ease-in, opacity 0.075s ease-in, scale 0.075s ease-in;
    transform: scale(0.95);
    opacity: 0;
    display: none;
}

/* Apply margin to the "Show entries" section */
div.dataTables_length {
    margin-left: 15px;
}
.dataTables_length select{
    border-radius: 10px !important;
    outline: none !important;
}

/* Apply margin to the search section */
div.dataTables_filter {
    margin-right: 15px;
    margin-bottom: 10px;
    /* margin-left: 20px; */
}
.dataTables_filter input{
    border-radius: 10px !important;
    outline: none !important;
}

div.dataTables_info {
    text-align: right;
    margin-left: 15px;
    color: #ACADAE !important;

}

div.dataTables_paginate {
    text-align: right;
    margin-right: 15px;
}
a.paginate_button.current{
    background: #ECECEC !important;
    border: none !important;
    border-radius: 20px !important;
}
 /* Hide the default checkbox */
 .star-checkbox {
    display: none;
}

/* Create a star using CSS and pseudo elements */
.star-label {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

/* Change color when checked */
.star-checkbox:checked + .star-label {
    background-color: #930027;
  }
